@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "FontAwesome";
  src: url("/FontAwesome.otf") format("opentype");
}

* {
  font-family: "FontAwesome", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #1f2937;
}

.swiper-pagination {
  bottom: 0px !important; /* 이 숫자 바꾸면 위치 조절 */
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
